<div class="w-100 position-absolute intercation-area d-flex" [ngClass]="showCreateMapPopup? 'blur':''">
    <div class="col-6 d-flex flex-column">
        <div class="overview-info pb-5">
            <p class="zh mb-4 theme-font font-size-s">台灣資訊圖像化 v1.1</p>
            <h5 class="zh pb-0 theme-font font-size-m" style="font-size: 1.5rem;">{{mapName}}</h5>
            <div class="zh theme-font d-flex">
                <p class="zh pe-2 font-size-s">地圖作者</p>
                <p class="zh font-size-s">{{author}}</p>
            </div>
        </div>

        <div [ngStyle]="{'color': htmlTextColor, 'display': mouseHoveAnyMesh && !mouseHoverDetalessMesh ? 'flex':'none'}"
            class="district-info flex-grow-1 justify-content-around">
            <div class="d-flex flex-column" *ngIf="this.meshDataOnHtml">
                <h2 class="zh font-size-l">{{this.meshDataOnHtml.zhDistrictName}}</h2>
                <h2 class="en font-size-l">{{this.meshDataOnHtml.enDistrictName}}</h2>
                <div class="d-flex flex-column pt-1" *ngIf="this.meshDataOnHtml">
                    <h3 class="zh font-size-s">{{this.meshDataOnHtml.zhCityName}}</h3>
                    <h3 class="en font-size-s">{{this.meshDataOnHtml.enCityName.split("_").join(' ')}}</h3>
                </div>
            </div>
            <div class="" *ngIf="this.meshDataOnHtml">
                <div [ngClass]="requireHeightDimension ? '' : 'd-none'">
                    <small class="zh font-size-s">{{heightDimensionTitle}}</small>
                    <div class="align-items-baseline  d-flex">
                        <h3 class="en font-size-l pe-1">{{this.meshDataOnHtml.height | number: '1.1-1'}}</h3>
                        <small class="zh font-size-s">{{heightDimensionUnit}}</small>
                    </div>
                </div>
                <div [ngClass]="requireToneDimension ? '' : 'd-none'">
                    <small class="zh font-size-s">{{toneDimensionTitle}}</small>
                    <div class="align-items-baseline" [ngClass]="{'d-flex' : mapId !== 'cloud'}">
                        <h3 *ngIf="mapId === 'cloud'" class="en font-size-l pe-1" >{{readCouldCode('title')}}</h3>
                        <small *ngIf="mapId === 'cloud'">{{readCouldCode('subtitle')}}</small>
                        <h3 class="en font-size-l pe-1" *ngIf="mapId !== 'cloud'">{{this.meshDataOnHtml.tone | number: '1.1-1'}}</h3>
                        <small class="zh font-size-s" *ngIf="mapId !== 'cloud'">{{toneDimensionUnit}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div [ngStyle]="{'color': '#666666', display: mouseHoverDetalessMesh && mouseHoveAnyMesh ? 'flex':'none'}"
            class="flex-column">
            <h3 class="zh font-size-m">無觀測站資料</h3>
            <h3 class="en font-size-s">No Information In This District.</h3>
        </div>
        <div [ngStyle]="{'color': '#666666', display: mouseHoveAnyMesh  ? 'none':'flex'}" class="flex-column">
            <h3 class="zh font-size-m">移動滑鼠以探索各區資訊</h3>
            <h3 class="en font-size-s">Explore by moving your mouse.</h3>
        </div>
        <div class="mt-auto d-flex flex-column">
            <button (click)="openBrowseMaps(openBtn)"
                class="btn-secondary px-4 py-2 mb-3 btn-secondary theme-font bg-transparent">瀏覽所有地圖</button>
            <button (click)="openCreateProcess(openBtn)" class="btn btn-primary px-4 py-2 btn-primary"
                #openBtn>創建你的地圖！</button>
        </div>
    </div>
    <div class="col-6 d-flex flex-column align-items-end justify-content-end" [ngClass]="showCreateMapPopup? 'blur':''">
        <div class="d-none d-sm-flex flex-column flex-grow-1 align-items-end ms-auto">
            <div type="button" class="mb-2 legend tone-gradient"
                [ngStyle]="{'background-image': 'linear-gradient(to right,#' + toneGradient.startColor + ', #' + toneGradient.endColor + ')'}">
            </div>
            <p *ngIf="requireToneDimension" class="en theme-font font-size-m"
                [ngStyle]="{'color': isWeatherMap ? '#0088DC' : '#'+ toneGradient.endColor }">
                {{toneExtremum.min | number: '1.1-1'}} ~
                {{toneExtremum.max | number: '1.1-1'}}
            </p>
            <p *ngIf="requireToneDimension" class="mb-2 theme-font-s-zh"
                [ngStyle]="{'color': isWeatherMap ? '#0088DC' : '#'+ toneGradient.endColor }">
                {{toneDimensionTitle}}範圍（{{toneDimensionUnit}}）
            </p>
            <p *ngIf="requireHeightDimension" class="en theme-font font-size-m"
                [ngStyle]="{'color': isWeatherMap ? '#0088DC' : '#'+ toneGradient.endColor }">
                {{sumHeight| number: '1.1-1'}}
            </p>
            <p *ngIf="requireHeightDimension" class="mb-2 theme-font-s-zh"
                [ngStyle]="{'color': isWeatherMap ? '#0088DC' : '#'+ toneGradient.endColor }">
                {{heightDimensionTitle}}加總（{{heightDimensionUnit}}）
            </p>
            <p class="text-end map-description theme-font-s-zh mt-auto d-flex">{{mapDescription}}</p>
        </div>
        <a [href]="sourceUrl" target="_blank" style="pointer-events: all;" class="py-2 d-flex align-items-center">
            <p class="pe-1 theme-font-s-zh">地圖原始資料</p>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.25 8.125V11.875C11.25 12.2065 11.1183 12.5245 10.8839 12.7589C10.6495 12.9933 10.3315 13.125 10 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V5C1.875 4.66848 2.0067 4.35054 2.24112 4.11612C2.47554 3.8817 2.79348 3.75 3.125 3.75H6.875"
                    stroke="#0088DC" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                <path stroke="#0088DC" d="M9.375 1.875H13.125V5.625" stroke-linecap="round" stroke-width="1"
                    stroke-linejoin="round" />
                <path stroke="#0088DC" d="M6.25 8.75L13.125 1.875" stroke-linecap="round" stroke-width="1"
                    stroke-linejoin="round" />
            </svg>
        </a>
        <!-- <button link="sourceUrl" class="btn-secondary px-4 py-2 mb-3 btn-secondary theme-font-s-zh bg-transparent"> <a target="_blank" style="pointer-events: all;" class="d-flex align-items-center">
                地圖原始資料
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.25 8.125V11.875C11.25 12.2065 11.1183 12.5245 10.8839 12.7589C10.6495 12.9933 10.3315 13.125 10 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V5C1.875 4.66848 2.0067 4.35054 2.24112 4.11612C2.47554 3.8817 2.79348 3.75 3.125 3.75H6.875"
                        stroke="#0088DC" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                    <path stroke="#0088DC" d="M9.375 1.875H13.125V5.625" stroke-linecap="round" stroke-width="1"
                        stroke-linejoin="round" />
                    <path stroke="#0088DC" d="M6.25 8.75L13.125 1.875" stroke-linecap="round" stroke-width="1"
                        stroke-linejoin="round" />
                </svg>
            </a>
        </button> -->
    </div>
</div>

<!-- 貼上地圖網址 -->
<div class="h-100 w-100 position-fixed popup-bg min-height-70" [ngClass]="showCreateMapPopup? 'd-flex':'d-none'">
    <form #urlForm="ngForm" (ngSubmit)="submitUrl(urlForm.value)"
        class="rounded-theme justify-content-between popup m-auto d-flex flex-column">
        <div class="pb-4 d-flex justify-content-between align-items-stretch">
            <h1 class="zh font-size-m theme-font">建立你的地圖</h1>
            <button class="btn bg-transparent border-0"
                (click)="this.blurGraph.emit(false); showCreateMapPopup = !showCreateMapPopup" #closeUrlForm>
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6.5L6 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6 6.5L18 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-stretch">
            <div class="mb-4 step-1 d-flex flex-column">
                <!-- <p class="text-center theme-font-s-zh mb-2">1. 複製這個表單</p> -->
                <div class="text-center w-100 d-flex rounded-theme btn-primary btn-primary my-auto">
                    <a href="https://docs.google.com/spreadsheets/d/1ydqYElUX25OfRwThdtlFLFN_Opww7tAUebjIcj_bX1Q/copy"
                        target="_blank" class="justify-content-center d-flex align-items-center w-100 text-white p-2">
                        第一步：複製這個表單
                        <svg width="18" height="18" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.25 8.125V11.875C11.25 12.2065 11.1183 12.5245 10.8839 12.7589C10.6495 12.9933 10.3315 13.125 10 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V5C1.875 4.66848 2.0067 4.35054 2.24112 4.11612C2.47554 3.8817 2.79348 3.75 3.125 3.75H6.875"
                                stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                            <path stroke="white" d="M9.375 1.875H13.125V5.625" stroke-linecap="round" stroke-width="1"
                                stroke-linejoin="round" />
                            <path stroke="white" d="M6.25 8.75L13.125 1.875" stroke-linecap="round" stroke-width="1"
                                stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mb-4 d-flex flex-column">
                <p class="theme-font-s-zh mb-2">第二步：在表單填上數據資料，並複製公開超連結</p>
                <div class="d-flex ">
                    <img class="flex-grow-1 rounded-theme bg-white p-2"
                        [src]="weatherService.addBaseUrl('/assets/imgs/step-2.gif')" [srcset]="
                weatherService.addBaseUrl('/assets/imgs/step-2@1.5x.gif 1.5x') + ' , ' +
                weatherService.addBaseUrl('/assets/imgs/step-2@2x.gif 2x') + ', ' +
                weatherService.addBaseUrl('/assets/imgs/step-2@3x.gif 3x') + ', '">
                </div>
            </div>
            <div class="w-100" class="d-flex flex-column">
                <p class="theme-font-s-zh mb-2">第三步：貼上表單的超連結</p>
                <div class="flex-wrap rounded-theme d-flex bg-white p-2 input-container">
                    <div class="d-flex flex-column flex-grow-1">
                        <input type="url" class="p-2 m-2 " #urlLink="ngModel" #urlLinkNativeTag
                            pattern="https://docs\.google\.com/spreadsheets/d/.+"
                            (keydown.enter)="clickSubmit($event, submitUrlForm)"
                            placeholder="https://docs.google.com/spreadsheets/d/1ydqYElUX25OfRwThdtlFLFN_Opww7tAUebjIcj_bX1Q/edit?usp=sharing"
                            name="urlLink" ngModel required pattern="https://docs\.google\.com/spreadsheets/d/.+">
                        <p *ngIf="urlLink.touched" class="text-danger theme-font-s-zh d-invisible">
                            <span *ngIf="urlLink.errors?.required">此為必填</span>
                            <span *ngIf="urlLink.errors?.pattern">請貼上正確的Google表單超連結</span>
                        </p>
                    </div>
                    <input type="submit" [disabled]="!urlForm.valid" #submitUrlForm
                        class="flex-grow-1 rounded-theme btn-primary py-2 m-2 px-4" name="goNextPopup" ngModel="製作地圖">
                </div>
            </div>
        </div>

    </form>
</div>
<!-- 編輯地圖屬性 -->
<div class="h-100 w-100 position-fixed popup-bg min-height-70" [ngClass]="showEditMapPopup? 'd-flex':'d-none'">
    <form #editMapForm="ngForm" class="rounded-theme popup m-auto d-flex flex-column"
        (ngSubmit)="submitEditingMap(editMapForm.value,gradientPickers[gradientSelectedIndex],  urlForm.value)">
        <div class="pb-4 d-flex justify-content-between align-items-center">
            <h1 class="zh font-size-m m-0aawsertyuuz theme-font">編輯地圖</h1>
            <button class="btn bg-transparent border-0"
                (click)="this.blurGraph.emit(false); showEditMapPopup = !showEditMapPopup">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6.5L6 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6 6.5L18 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="overflow-auto vh-70 rounded-theme pe-0 pe-sm-4 d-flex flex-column flex-sm-row">
            <div class="pe-0 pe-sm-4">
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">作者名稱</p>
                    <input type="url" class="p-2" placeholder="煞氣的王小明" name="authorName" ngModel #authorName="ngModel"
                        required>
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="authorName.touched && authorName.errors?.required">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">聯絡用電子郵件</p>
                    <input value="" type="url" class="p-2" placeholder="1234@email.com" name="authorEmail" ngModel
                        #emailInput="ngModel" email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <p *ngIf="emailInput.touched" class="text-danger theme-font-s-zh d-invisible">
                        <!-- <span *ngIf="emailInput.errors?.required">此為必填</span> -->
                        <span *ngIf="emailInput.errors?.email">請貼上正確的Email</span>
                    </p>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">地圖標題</p>
                    <input type="url" class="p-2" placeholder="煞氣的地圖" name="mapTitle" ngModel #mapTitle="ngModel"
                        required>
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="mapTitle.touched && mapTitle.errors?.required">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">地圖介紹</p>
                    <textarea type="" class="p-2" placeholder="可註明出處、聲明" name="mapDescriptionInput" ngModel
                        #mapDescriptionInput="ngModel" value="">
                    </textarea>
                    <span class="theme-font-s-zh theme-font-s-zh d-invisible m-0"
                        *ngIf="mapDescriptionInput.touched">若使用他人資料記得留下出處唷！</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 ">
                    <p class="theme-font-s-zh ps-2 ">要用到的資料維度？</p>
                    <div class="form-check pt-2 p-0 m-0">
                        <input class="ms-2 border-2 border p-2 form-check-input" type="checkbox" ngModel="true"
                            #requireHeightInput="ngModel" name="requireHeightDimension" id="requireHeightDimension">
                        <label class="p-1 theme-font-s-zh d-flex form-check-label" for="requireHeightDimension">
                            高度
                        </label>
                    </div>
                    <div class="form-check pt-2 p-0 m-0">
                        <input class="ms-2 border-2 border p-2 form-check-input" type="checkbox" ngModel="true"
                            #requireToneInput="ngModel" name="requireToneDimension" id="requireToneDimension">
                        <label class="p-1 theme-font-s-zh d-flex form-check-label" for="requireToneDimension">
                            色調
                        </label>
                    </div>
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="!requireToneInput.value && !requireHeightInput.value">至少要有一個維度</span>
                </div>
            </div>
            <div class="d-flex flex-column">

                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">高度代表何種資料？</p>
                    <input type="text" class="p-2" placeholder="如：降雨量" name="heightTitle" ngModel #heightTitle="ngModel"
                        [disabled]="!requireHeightInput.value">
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="heightTitle.touched && requireHeightInput && heightTitle.value==''">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">高度單位</p>
                    <input type="text" class="p-2" placeholder="如：毫米" name="heightUnit" ngModel #heightUnit="ngModel"
                        [disabled]="!requireHeightInput.value">
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="heightUnit.touched && requireHeightInput && heightUnit.value==''">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">色調代表何種資料？</p>
                    <input value="" type="text" class="p-2" placeholder="如：溫度" name="toneTitle" ngModel
                        #toneTitle="ngModel" [disabled]="!requireToneInput.value">
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="toneTitle.touched && requireToneInput.value && toneTitle.value==''">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4 input-container">
                    <p class="theme-font-s-zh ps-2 ">色調單位</p>
                    <input type="text" class="p-2" placeholder="如：度C" name="toneUnit" ngModel #toneUnit="ngModel"
                        [disabled]="!requireToneInput.value">
                    <span class="text-danger theme-font-s-zh d-invisible m-0"
                        *ngIf="toneUnit.touched && requireToneInput && toneUnit.value==''">此為必填</span>
                </div>
                <div class="rounded-theme flex-column d-flex bg-white p-4 pt-3 mb-4">
                    <p class="theme-font-s-zh ps-2 ">挑選地圖色調</p>
                    <input type="button" *ngFor="let picker of gradientPickers; let i=index"
                        class="mt-3 gradient-picker" [ngClass]="gradientSelectedIndex == i ? 'gradient-selected' : ''"
                        (click)="gradientSelectedIndex = i;"
                        [ngStyle]="{'background-image': 'linear-gradient(to right,#' + picker.startColor + ', #' + picker.endColor + ')'}">
                </div>
                <input type="submit"
                    [disabled]="!editMapForm.valid || (requireHeightInput.value && heightTitle.value=='') || (requireToneInput.value && toneTitle.value=='')"
                    class="w-100 rounded-theme btn-primary px-4 py-2 btn-primary" name="uploadBtn" ngModel="建立地圖">
            </div>
        </div>
    </form>
</div>
<!-- 建立成功！ -->
<div class="h-100 w-100 position-fixed popup-bg" [ngClass]="showLinkPopup? 'd-flex':'d-none'">
    <form #uploadedForm="ngForm" class="rounded-theme justify-content-between popup m-auto d-flex flex-column">
        <div class="pb-5 d-flex justify-content-between align-items-center">
            <h1 class="zh font-size-m m-0aawsertyuuz theme-font">建立成功！</h1>
            <button class="btn bg-transparent border-0"
                (click)="this.blurGraph.emit(false); showLinkPopup = !showLinkPopup">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6.5L6 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6 6.5L18 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="w-100" class="d-flex flex-column">
            <p class="theme-font-s-zh mb-2">你的地圖網址為：</p>
            <div class="rounded-theme d-flex bg-white px-4 pt-4 input-container">
                <input type="text" class="share-link h-100 p-2 me-3 d-flex flex-column flex-grow-1"
                    [(ngModel)]="shareLink" value="q221e" name="mapLink" #mapLink="ngModel">
                <!-- <input type="button" class="rounded-theme btn-primary px-4 py-2 mb-3" name="copyMapLink"
                    ngModel="前往你的地圖" [routerLink]="['/maps',googleSheetId]" (click)="showLinkPopup = !showLinkPopup"> -->

                <button class="d-flex rounded-theme btn-primary px-3 py-2 mb-3"
                    (click)="copyShareLink(copyLink,shareLink)" #copyLink> <svg width="20" height="20"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20 9H11C9.89543 9 9 9.89543 9 11V20C9 21.1046 9.89543 22 11 22H20C21.1046 22 22 21.1046 22 20V11C22 9.89543 21.1046 9 20 9Z"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M5 15H4C3.46957 15 2.96086 14.7893 2.58579 14.4142C2.21071 14.0391 2 13.5304 2 13V4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H13C13.5304 2 14.0391 2.21071 14.4142 2.58579C14.7893 2.96086 15 3.46957 15 4V5"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="ps-2 font-size-s text-white">複製到剪貼簿</p>
                </button>

            </div>
        </div>
    </form>
</div>
<!-- 瀏覽所有地圖 -->
<div class="map-list h-100 w-100 position-fixed popup-bg min-height-70"
    [ngClass]="showBrowseMapsPopup? 'd-flex':'d-none'">
    <div class="pb-0 rounded-theme rounded-theme justify-content-between popup m-auto d-flex flex-column">
        <div class="pb-4 d-flex justify-content-between align-items-stretch">
            <h1 class="zh font-size-m theme-font">其他網友製作的地圖</h1>
            <button class="btn bg-transparent border-0"
                (click)="this.blurGraph.emit(false); showBrowseMapsPopup = !showBrowseMapsPopup" #closeUrlForm>
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6.5L6 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6 6.5L18 18.5" stroke="#0088DC" stroke-opacity="0.69" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="pe-0 pe-sm-4 list-container">
            <a (click)="clickMapLink(map.mapUrl)" *ngFor="let map of allMaps"
                class="mb-4 border-0 align-items-stretch rounded-theme d-flex flex-column flex-sm-row bg-white p-4"
                style="text-decoration: none;">
                <div type="button" class="me-3 tone-gradient gradient-selected"
                    [ngStyle]="{'background-image': 'linear-gradient(to top,#' + map.MaxToneHex + ', #' + map.MinToneHex + ')'}">
                </div>
                <div class="d-flex flex-column me-auto">
                    <p class="theme-font-m-zh d-flex align-items-center">
                        {{map.mapName}}
                        <span *ngIf="map.liveStream" class="badge live-badge font-size-s d-flex align-items-center ms-2">
                            即時更新
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ms-2"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
                        </span>
                    </p>
                    <p class="theme-font-s-zh">包含
                        {{map.ToneDimensionTitle ? map.ToneDimensionTitle + '、' : ''}}
                        {{map.HeightDimensionTitle}}
                        資料</p>
                </div>
                <div class="d-flex flex-column justify-content-end text-start text-sm-end">
                    <p class="theme-font-s-zh">{{map.author}} 製作</p>
                    <p class="theme-font-s-zh">{{map.createDate |date:"MM/dd/yy"}}</p>
                </div>
                <div class="align-items-center px-2 d-none d-sm-flex">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.84131 18.9644L15.8413 12.9644L9.84131 6.96439" stroke="#0088DC"
                            stroke-opacity="0.69" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>