<app-graph-info
            [districtColor]="htmlTextColor"
            [mouseHoverDetalessMesh]="mouseHoverDetalessMesh"
            [mouseHoveAnyMesh]="mouseHoverAnyMesh"
            [meshDataOnHtml]="meshDataOnHtml"
            (onMapChanged)="setupMap($event)"
            (blurGraph)="blurCanvas()"
            [toneExtremum]="toneExtremum"
            [sumHeight]="sumHeight"
            [ngStyle]="{'mix-blend-mode': showPopup ? 'unset' : 'darken'}"
    ></app-graph-info>
<div #canvas (mousemove)="onMousemove($event)" [ngClass]="{'blur': showPopup, 'blend': darkMode}"
    style="width: 100%; height:100vh;">
</div>